
<% if user_signed_in? && Product.exists? %>
<%= render 'layouts/main' %>
<% else %>
<%= render 'layouts/lander' %>
<% end %>  
<div class="main">
<div class="container main-section">
<div class="row">
<div class="col-lg-4 col-md-12 col-xs-12">
          <h2>Product 1</h2>

<img src="http://placehold.it/350x150">
<p class="col-lg-12 col-md-4">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-lg-4 col-md-12 col-xs-12">
          <h2>Product 2</h2>

<img src="http://placehold.it/350x150">
<p class="col-lg-12 col-md-4">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-lg-4 col-md-12 col-xs-12">
          <h2>Product 3</h2>

<img src="http://placehold.it/350x150">
<p class="col-lg-12 col-md-4">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
</div>
</div>
</div>
<hr>
<div class="secondary">
<div class="container main-section">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
          <h2>A Little More Info</h2>

<img src="http://placehold.it/512x256">
<p class="col-lg-12 col-md-4">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
</div>
</div>
</div>

