<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
		<p>Thank you. We have received your message and will respond within 24 hours.</p>
		</div>
	</div>
</div>
</div>