<div class="container">
<div class="panel-heading">
<h1>Thank you for signing up with us!</h1>
<h3>Please fill out a survey and let us know how we're doing.</h3>
</div>

<%= render 'form' %>

<div class="panel-footer">
<%= link_to 'Back', surveys_path %>
</div>
</div>