<div class="survey">
<div class="container">
<div class="row">
<div class="col-lg-6 col-xs-12">
<h1>Thank you for signing up with coffee and more!</h1>
<h3>Fill out the survey below, so that we can gather feedback on the user experience.</h3>
<%= link_to "Survey", new_survey_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
</div>
</div>