// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#error_explanation  {
	border: 3px red solid;
}

#error_explanation h2 {
	background-color: red;
	color: #fff;
	margin-top: 0;
	padding-left: .5em;
}