<div class="container">

<div class="panel-heading"><h1>New Product</h1></div>
</div>
</div>
<%= render 'form' %>
<div class="container">
<div class="panel-footer">
	<%= link_to 'Back', products_path %>
</div>
</div>

